@import url("https://fonts.googleapis.com/css?family=Tillana:wght@700|Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  font-family: Lato, sans-serif; }

#menu {
  background: #E7E393;
  overflow: hidden;
  height: 100vh;
  text-align: center; }
  #menu h1 {
    font-size: clamp(2.5rem, 10vw, 5rem);
    font-weight: 700;
    font-family: Tillana, serif;
    margin: 1em 0;
    color: #60492C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    -webkit-text-stroke: 1px white; }
  #menu .rules {
    text-align: left;
    margin-left: 2em; }
    @media screen and (min-width: 40em) {
      #menu .rules {
        margin-left: 5em; } }
    #menu .rules .how {
      display: block;
      font-family: Tillana, serif;
      font-size: clamp(1.5rem, 6vw, 3.5rem);
      font-weight: 700; }
    #menu .rules li {
      font-size: clamp(1rem, 3vw, 2rem);
      margin: 0.5em 2.5em; }
  #menu .custom-select {
    margin: 3em 0; }
    #menu .custom-select .level {
      font-family: Tillana, serif;
      font-size: clamp(1.5rem, 4vw, 2.5rem);
      font-weight: 700;
      margin-right: 2em;
      vertical-align: middle; }
    #menu .custom-select #levels {
      display: inline-block;
      font-size: clamp(1rem, 3vw, 1.5rem);
      padding: 0.25em 1em;
      vertical-align: middle; }
  #menu #start {
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 0.5em 1.5em;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background: #60492C;
    text-align: center;
    text-decoration: none;
    border: none;
    font-weight: 700;
    margin: 1em 0; }
    #menu #start:hover {
      background-color: #3d2e1c; }
    #menu #start:focus {
      background-color: #2c2114; }

#timer {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #232323; }
  #timer .no {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: 700;
    color: #E7E393; }
  #timer .no3 {
    animation: disappear 0.5s forwards; }
  #timer .no2 {
    animation: appear 0.5s forwards;
    animation: disappear 0.5s forwards 1s;
    opacity: 0; }
  #timer .no1 {
    animation: appear 0.5s forwards 1s;
    animation: disappear 0.5s forwards 2s;
    opacity: 0; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

#game {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, #247a4e 0%, #1576d1 100%);
  background: linear-gradient(to top, #247a4e 0%, #1576d1 100%);
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 10px 0;
  cursor: url("../svg/hammer.svg"), auto; }
  #game:active {
    cursor: url("../svg/hammer-active.svg"), auto; }
  #game .hole {
    flex-basis: 45%;
    overflow: hidden;
    position: relative;
    height: 12%;
    width: 100%; }
    @media screen and (min-width: 40em) {
      #game .hole {
        flex-basis: 30%;
        height: 20%; } }
    #game .hole::after {
      display: block;
      background: url("../svg/pot.svg") bottom center no-repeat;
      background-size: contain;
      content: '';
      width: 80%;
      height: 50%;
      position: absolute;
      z-index: 2;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%); }
      @media screen and (min-width: 40em) {
        #game .hole::after {
          bottom: -30px; } }
  #game .mole {
    background: url("../svg/mole.svg") bottom center no-repeat;
    background-size: contain;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 75%;
    transition: all 0.4s; }
  #game .hole.up .mole {
    top: 25%; }
    @media screen and (min-width: 40em) {
      #game .hole.up .mole {
        top: 15%; } }
  #game #result {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 0.1em solid black;
    z-index: 5;
    text-align: center;
    background-color: #E7E393;
    width: 50%; }
    #game #result span {
      display: inline-block;
      font-size: clamp(1.5rem, 4vw, 2.5rem);
      vertical-align: middle;
      line-height: 1.5em;
      margin: 0.5em 0; }
    #game #result #ok {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      font-size: clamp(1rem, 3vw, 2rem);
      padding: 0.5em 1.5em;
      cursor: pointer;
      border-radius: 10px;
      background: #60492C;
      color: white;
      text-align: center;
      text-decoration: none;
      border: none;
      font-weight: 700;
      margin: 1em 0; }
      #game #result #ok:hover {
        background-color: #3d2e1c; }
      #game #result #ok:focus {
        background-color: #2c2114; }
